* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 100px;
}

#label {
	font-size: 32px;
}

#container {
	margin-top: 100px;
	height: 500px;
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	align-content: start;
	background-color: rgb(255, 255, 255);
	border: 0.1px solid rgb(2, 1, 63);
}

.grid {
	background-color: rgb(106, 158, 255);
	border: 0.1px solid rgb(211, 211, 211);
}

.grid.touched {
	color: aliceblue;
	background-color: black;
}
